.add_agent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #02152657;

    &_modal {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        background-color: #FFF;
        box-shadow: 5px 5px 12px 0px #02152614;
        border-radius: 20px;
        padding: 58px 170px;

        p {
            text-align: center;
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: var(--text_black);
            margin-bottom: 35px;
        }

        img {
            position: absolute;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 22px 31px;
            width: 768px;

            .form_group {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;

                .form_group_error {
                    &::before {
                        display: none;
                        width: 10px;
                        height: 10px;
                        margin-right: 7px;
                        content: url("../../../src/assets/svg/check.svg");
                    }

                    &_active::before {
                        display: inline-block;
                    }
                }

                label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16.8px;
                    color: var(--text_black);
                }

                input {
                    padding: 10px;
                    margin: 5px 0 4px;
                    border-radius: 6px;
                    border: 1px solid #808A93
                }

                &_image {
                    position: relative;
                    grid-column: span 2;
                    height: 120px;

                    .custom {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 100%;
                        height: calc(100% - 42px);
                        top: 22px;
                        border-radius: 6px;
                        background-color: #FFF;
                        border: 1px dotted #2D3648;
                        overflow: hidden;
                    }

                    &_preview {
                        height: 250px;
                        
                        .custom {
                            width: 100%;
                            height: calc(100% - 26px);
                            object-fit: cover;

                            img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    
                    input {
                        height: 100%;
                        opacity: 0;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .add_agent_buttons {
            display: flex;
            justify-content: flex-end;
            grid-column: span 2;
            gap: 15px;
            margin-top: 94px;
        }
    }
}